<!DOCTYPE html>
<html lang="en">

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta content="#2D86FF" name="theme-color" />
    <meta property="og:site_name" content="FacebookFix">

    {% if card is defined %}
    <meta name="twitter:card" content="{{ card }}" />
    {% endif %}
    {% if title is defined %}
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="og:title" content="{{ title }}" />
    {% endif %}
    {% if image is defined %}
    <meta name="twitter:image" content="{{ image }}" />
    <meta property="og:image" content="{{ image }}" />
    {% endif %}

    {% if video is defined %}
    <meta name="twitter:player:width" content="{{ width }}" />
    <meta name="twitter:player:height" content="{{ height }}" />
    <meta name="twitter:player:stream" content="{{ video }}" />
    <meta name="twitter:player:stream:content_type" content="video/mp4" />
    {% elif player is defined %}
    <meta name="twitter:player" content="{{ player }}" />
    <meta name="twitter:player:width" content="{{ width }}" />
    <meta name="twitter:player:height" content="{{ height }}" />
    {% endif %}

    <meta property="og:url" content="{{ url }}" />
    <meta property="og:description" content="{{ description }}" />

    {% if video is defined %}
    <meta property="og:video" content="{{ video }}" />
    <meta property="og:video:secure_url" content="{{ video }}" />
    <meta property="og:video:type" content="video/mp4" />
    <meta property="og:video:width" content="{{ width }}" />
    <meta property="og:video:height" content="{{ height }}" />
    {% endif %}

    <meta name="description" content="{{ description }}" />
    <meta http-equiv="refresh" content="0; url = {{ url }}" />

    {% if video is defined %}
    <link rel="alternate" href="https://fxfacebook.beerpsi.tech{{ url_for('oembed') }}?user={{ description | urlencode }}&title=Facebook&link={{ url | urlencode }}&link={{ url | urlencode }}&type={{ ttype }}" type="application/json+oembed">
    {% elif image is defined %}
    <link rel="alternate" href="https://fxfacebook.beerpsi.tech{{ url_for('oembed') }}?title={{ title | urlencode }}&user=Facebook&link={{ url | urlencode }}&type={{ ttype }}" type="application/json+oembed">
    {% endif %}


</head>

<body>
    Redirecting you to the post in a moment. <a href="{{ url }}">Or click here.</a>
</body>

</html>
